.display {
  width: 100%;
  //   background-color: #c0d8e0;
}

header {
  width: 100%;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border: 1px solid #e2e2e2;
}
